.newImage {
	width: 100%;
}

textarea {
	max-width: 100%;
}

#previewView {
	display: none;
}

#editBtn {
	display: none;
}

.profileImg {
	width: 75%;
	background-color: #000;
}

.profileImg > img {
	width: 100%;
}

.profileImg > img:hover {
	opacity: 0.5;
	cursor: pointer;
}

#captionInput {
	width: 60%;
}

#issueModal {
	width: 80%;
}