@font-face {
  font-family: gotham;
  src: url('/gotham.ttf') format('truetype');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f5f2ed;
  margin: 0 0 200px;
}

#content {
  padding-top: 100px;
}

.spacebelow {
  margin-bottom: 16px !important;
}