@font-face {
  font-family: gotham;
  src: url('/gotham.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f2ed;
}

#content {
  padding-top: 100px;
}

#footer {
  min-height: 6%;
}
