{
  "presets": [
    "react",
    "stage-1",
    "es2015"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "testing": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
