<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>The Moviegoer</title>
  </head>
  <body>
    <div id="mount"><%- reactHtml %></div>
    <script src="/public/bundle.js"></script>
  </body>
</html>
