<% layout( 'layout' ) -%>
<link rel="stylesheet" type="text/css" href="login.css">

<div class="container" align="center">

  <h4>Login</h4>

  <br>

  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
  <br>
  <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
  <br>
  <button type="submit" class="btn btn-default btn-sm">Login</button>

</div>