<% layout( 'layout' ) -%>

<div id="console" class="container">
  <div class="title">Login</div>
  <input type="email" class="form-control" id="inputEmail" placeholder="Username" onkeydown="if (event.keyCode == 13) document.getElementById('loginBtn').click();">
  <input type="password" class="form-control" id="inputPassword" placeholder="Password" onkeydown="if (event.keyCode == 13) document.getElementById('loginBtn').click();">
  <button type="submit" class="btn btn-default btn-sm" id="loginBtn">Login</button>
  <a class="btn btn-default btn-sm" href="/console/signup">Become an author!</a>
  <div id="issue" class="alert alert-danger" role="alert"></div>
</div>