<% layout( 'layout' ) -%>
<link rel="stylesheet" type="text/css" href="events.css">

<div class="container" align="center">
	<br>
	<img src="http://pennmoviegoer.com/images/events/paths.jpg" class="eventImg">
</div>