<% layout( 'layout' ) -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/events.css">

<div class="container" align="center">
	<br>
	<img src="http://pennmoviegoer.com/images/events/paths.jpg" class="eventImg">
	<br><br>
	<img src="http://pennmoviegoer.com/images/events/shorts.jpg" class="eventImg">
	<br><br>
</div>