<% layout( 'layout' ) -%>

<div id="events" class="container">
	<div class="title">Features</div>
	<img src="http://pennmoviegoer.com/images/events/paths.jpg">
	<img src="http://pennmoviegoer.com/images/events/shorts.jpg">
</div>