<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <p>The Moviegoer is a student-run blog dedicated to film appreciation -
          posting film analyses, reviews, previews, and all things related. We
          seek to build a film community on-campus and online through
          collaboration as well as other PCI-sponsored initiatives. If you would
          like to work with us, please find out more under the <a href="/about">about</a>
          tab.</p>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="email" align="center">
        <h5>Sign up for the weekly newsletter here: </h5>
        <input type="email" class="form-control input-sm" id="emailinput" placeholder="Your email">
        <button id="signup">Signup</button>
      </div>
    </div>
    -->
    <div>
      <a href="http://www.facebook.com/pages/Penn-Cinema-Initiative/1536055873314021"><img
                src="/images/facebook-logo.png" alt="Facebook"></a>
    </div>
  </div>
  <div>
    &copy; Penn Cinema Initiative <br>
    <% if (console) { %>
    <a class="footerItem" href="/">Go to The Moviegoer</a>
    <% } else { %>
    <a class="footerItem" href="/console">Go to Author Console</a>
    <% } %>
    <% if (login) { %>
    • <a class="footerItem" href="/console/logout">Logout</a>
    <% } %>
  </div>
</div>