<div class="container" align="center">
	<%if (console) { %>
	
	<h2>
		<a href="/console" id="headerTitle">
			<img src="/logo.png" class="headerlogo">
			<small> Author Console</small>
		</a>
	</h2>
	
	<% } else { %>
	
	<h2>
		<a href="/" id="headerTitle">
			<img src="/logo.png" class="headerlogo">
		</a>
	</h2>
	
	<% } %>
</div>