<div id="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
        <% if (inConsole) { %>
        <h5 id="navbar1"><a href="/console/home" class="headerItem">Home</a>
        </h5>
        <% } else { %>
        <h5 id="navbar1"><a href="/features" class="headerItem">Features</a>
        </h5>
        <% } %>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <% if (inConsole) { %>
        <h5 id="navbar2"><a href="/author/profile"
                            class="headerItem">Profile</a></h5>
        <% } else { %>
        <h5 id="navbar2"><a href="/movies" class="headerItem">Movies</a></h5>
        <% } %>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5><a href="/" id="headerTitle"><img src="/images/logo.png"
                                              alt="The Moviegoer"
                                              class="logo"></a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5 id="navbar3"><a href="/events" class="headerItem">Events</a></h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <% if (inConsole) { %>
        <h5 id="navbar4"><a href="/article" class="headerItem">New Article</a>
        </h5>
        <% } else { %>
        <h5 id="navbar4"><a href="/about" class="headerItem">About</a></h5>
        <% } %>
      </div>
    </div>
  </div>
</div>