<% layout( 'layout' ) -%>
<link rel="stylesheet" type="text/css" href="/home.css">

<div class="container" align="center" align="center">
	<br>
	<p>Welcome, Moviegoer Author!</p>
	<br>
	<% include articleList %>
</div>