<% layout( 'layout' ) -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

<div class="container" align="center">
  <div class="title">The Moviegoer</div>
  <% include articleList %>
</div>
