<script src="navbar.js"></script>

<div class="container" align="center">

  <div class="row">
  	<div class="col-sm-3">
  		<h4><a id="navHome" class="navbarItem" href="/home">Home</a></h4>
  	</div>
  	<div class="col-sm-3">
  		<h4><a id="navProfile" class="navbarItem" href="/profile">Profile</a></h4>
  	</div>
  	<div class="col-sm-3 navbarItem">
  		<h4><a id="navEvents" class="navbarItem" href="/events">Events</a></h4>
  	</div>
  	<div class="col-sm-3 navbarItem">
  		<h4><a id="navNewArticle" class="navbarItem" href="/new">New Article</a></h4>
  	</div>
  </div>

</div>