<script src="/header.js"></script>

<div class="row">
  <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
    <h5 id="navbar1"><a href="/console/home" class="headeritem">Home</a></h5>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <h5 id="navbar2"><a href="/account/profile" class="headeritem">Profile</a></h5>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <h5><a href="/" id="headerTitle"><img src="/logo.png" class="headerlogo"></a></h5>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <h5 id="navbar3"><a href="/events" class="headeritem">Events</a></h5>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <h5 id="navbar4"><a href="/article" class="headeritem">New Article</a></h5>
  </div>
</div>