<% layout( 'layout' ) -%>

<link rel="stylesheet" type="text/css" href="new.css">

<div class="container" align="center">
	<br>
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-6">
			<input type="text" class="form-control" id="input1" placeholder="Article Title">
			<br>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="feature" checked>
			    Feature Article
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="newmovie">
			    New Release Movie
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios3" value="oldmovie">
			    Old Release Movie
			  </label>
			</div>
			<br>
			<textarea class="form-control" rows="12" placeholder="Article Text..."></textarea>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<p>Primary Image</p>
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
			</button>
			<br><br>
			<p>Images</p>
			<div class="newImageDiv">
				<img src="http://pennmoviegoer.com/images/holymotors.jpg" class="newImage">
			</div>
			<br>
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<br>
	<button type="submit" class="btn btn-default btn-sm">Submit</button>
</div>
<br>