<% layout( 'layout' ) -%>

<div class="container" align="center">
	<br>
	<img src="http://splitsider.com/wp-content/uploads/sites/2/2014/09/aziz_ansari.jpg">
	<br><br>
	<p>This is your bio!</p>
</div>