<% layout( 'layout' ) -%>
<link rel="stylesheet" type="text/css" href="profile.css">

<div class="container" align="center">
	<br>
	
	<div class="row">
		<button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-6">
			<img class="profileImg" src="http://splitsider.com/wp-content/uploads/sites/2/2014/09/aziz_ansari.jpg">
		</div>
		<div class="col-sm-6">
			<h5>Aziz Ansari</h5>
			<p>This is your bio!</p>
		</div>
	</div>
	<br>
</div>