<div class="row" id="previewView">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
		<h4 id="headPrev"><%= title %></h4>
		<h5><span id="authorPrev"><%= author %></span>
		 • 
		<span id="typePrev"><%= date %></span></h5>
		<div id="window" align="left"><%- text %></div>
	</div>
</div>