@gold: #c29d52;
@white: #f5f2ed;
@black: #2B292B;
@header-height: 60px;
@footer-height: 250px;
@bottom-padding: @footer-height;

@font-face {
  font-family: gotham;
  src: url('/fonts/gotham.ttf') format('truetype');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: @white;
  margin: 0 0 @bottom-padding;
}

img {
  width: 100%;
}

#content {
  padding-top: @header-height;
}

.title {
  font-family: gotham;
  color: @black;
  padding: 16px 0;
  font-size: 36px;
  text-align: center;

  small {
    color: @gold;
  }
}

.white {
  color: @white;
}

.black {
  color: @black;
}


.newImage {
  width: 100%;
}

.pagination {
  text-align: center;
  width: 100%;
}

.sidebar {
  margin-bottom: 20px;
}

@import "about";
@import "console";
@import "draft";
@import "events";
@import "features";
@import "footer";
@import "header";
@import "home";
@import "index";
@import "movies";
@import "profile";
@import "view";