@gold: #c29d52;
@white: #f5f2ed;
@black: #2B292B;
@footer-height: 200px;
@bottom-padding: @footer-height + 50px;

@font-face {
  font-family: gotham;
  src: url('/fonts/gotham.ttf') format('truetype');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: @white;
  margin: 0 0 @bottom-padding;
}

#content {
  padding-top: 75px;
}

.title {
  font-family: gotham;
  color: @black;
  padding-bottom: 16px;
  font-size: 36px;
  text-align: center;
}

.white {
  color: @white;
}

.newImage {
  width: 100%;
}

@import "console";
@import "draft";
@import "events";
@import "features";
@import "footer";
@import "header";
@import "home";
@import "index";
@import "movies";
@import "profile";
@import "view";