#header {
  min-height: 8%;
  background-color: @black;
  color: @gold;
  padding-top: 15px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-family: gotham;
  text-align: center;

  img {
    width: auto;
  }

  .logo {
    padding-left: 30px;
    img {
      height: 42px;
    }
  }

  .active {
    color: @white;
  }
}

.headerItem {
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: @white;
    }
  }
}

.searchBar {
  padding-left: 30px;
}