#header {
  min-height: 8%;
  background-color: @black;
  color: @gold;
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-family: gotham;
  text-align: center;

  img {
    width: auto;
  }

  .logo {
    height: 42px;
  }

  .headerItem {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: @white;
    }
  }

  .active {
    color: @white;
  }
}
