.upcomingBar {
  color: @gold;
  text-align: center;
  background-color: @black;
  font-family: gotham;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.top-story {
  .black {
    color: @black;
  }
  a {
    color: @white;
  }
  small {
    color: @gold;
    margin-right: 10px;
  }
  img {
    width: 100%;
  }
}

.largeImg {
  max-height: 420px;
  object-fit: cover;
}

@media (min-width: 34em) {
  #movies {
    .top-story {
      min-height: 400px;
    }
  }
}
