#profile {
  .profileImg {
    background-color: #000;

    img {
      width: 100%;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    form {
      display: none;
    }
  }

  #issue {
    width: 60%;
  }

  #inputName, #inputEmail, #inputBio, #saveBtn {
    display: none;
  }

  .pwinput {
    width: 60%;
  }

  text-align: center;

  button {
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
  }

  #bioImage {
    margin: 0 auto;
    max-width: 75%;
  }
}