@font-face {
    font-family: gotham;
    src: url('/public/fonts/gotham.ttf') format('truetype');
}

body {
    font-family: gotham;
}

.headerItem h5 {
    text-align: center;
    margin-top: 2em;
}

.headerItem a {
    color: inherit;
    text-decoration: none;
}

.headerItem a:active {
    color: inherit;
    text-decoration: none;
}

.headerItem a:hover {
    color: white;
}