.aboutPage {
	@include page;

	@include media($mobile) {
		padding: 10px;
	}


	.content-left {
		@include span-columns(5);
		@include shift(1);

		@include media($mobile) {
			@include span-columns(6);
			@include shift(0);
			p {
				font-size: 15px;
			}
		}
		.letter {
			@include span-columns(5 of 5);
			
			background-color: $fg;
		}

		.contact {
			@include span-columns(5 of 5);
			margin-top: 20px;
			height: 200px;
			background-color: $fg;

			@include media($mobile) {
				@include span-columns(6);
				@include shift(0);
				margin-bottom: 20px;
			}
		}
	}

	.staff {
		@include span-columns(5);
		@include shift(1);
		background-color: $fg;

		@include media($mobile) {
			@include span-columns(6);
			@include shift(0);
		}
	}

	h3 {
		font-family: $main-title;
		text-align: center;
		font-size: 30px;
		margin-top: 10px;
	}

	p {
		padding: 10px;

		@include media($mobile) {
			font-size: 12px;
		}
	}

	.author_card {
		@include row();
		@include omega;
		height: 100px;
		background-color: $fg;
		margin-left: 10px;
		margin-top: 10px;
		padding: 10px;

		.image-wrapper {
			@include author-pic(80px);
			display: inline-block;
		}
		.text-wrapper {
			display: inline-block;
			vertical-align: top;
			margin-top: 0px;
			padding-top: 0px;
			margin-left: 10px;
		}

		p {
			display: inline-block;
			margin-top: 0px;
		}
	}
}