.aboutPage {
	@include page;
	.content-left {
		@include span-columns(5);
		@include shift(1);
		.letter {
			@include span-columns(5 of 5);
			height: 300px;
			background-color: $fg;
		}

		.contact {
			@include span-columns(5 of 5);
			margin-top: 20px;
			height: 200px;
			background-color: $fg;
		}
	}

	.staff {
		@include span-columns(4);
		@include shift(1);
		height: 600px;
		background-color: $fg;
	}

	h3 {
		font-family: $main-title;
		text-align: center;
		font-size: 30px;
		margin-top: 10px;
	}
}