.articlesPage {
	@include outer-container();
	.articles {
		@include span-columns(10); 
		@include shift(1); 

		@include media($mobile) {
			@include span-columns(6);
			@include shift(0);
			p {
				display: none;
			}

			.image-wrapper  {
			
				
			}
			.text-container {

			}

		}	

		.list-article {
			@include row();
		    margin-top: 10px;
		    background-color: $fg; 
		    

			.image-wrapper {
				@include span-columns(7);
				@include media($mobile) {
					@include span-columns(6);
				}

				.inner-wrapper {
					position: relative;
					padding-bottom: 56.25%;
					img {
						position: absolute;
					}		
				}
						
				
			}
			
			.text-container {
				@include span-columns(5);
				margin-left: 10px;

				h3 {
					font-family: $main-title;
					margin-top: 5px;
					margin-bottom: 5px;
				}
				h5 {
					margin-top: 0px;
					span {
						color: $gold;
					}
				}


			}
		}	
	}


}

