
.articlePage {
	@include page;


	.article_content {
		@include span-columns(7);
		@include shift(1);
		background-color: $fg;
		margin-bottom: 15px;
		@include media($mobile) {
			
			@include span-columns(5);
		};	

		p {
			padding-left: 40px;
			padding-right: 40px;
			text-indent: 20px;
			font-size: 16px;
			line-height: 150%;
		}
		a {
			padding-left: 10px;
		}
		h4 {
			font-size: 50px;
			font-family: $main-title;
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 20px;
		}
		h5 { 
			margin-top: 0px;
			font-size: 20px; 
			padding-left: 25px;
			color: $goldD1;
		}
		.image-wrapper {
			@include load-placeholder(16,9);
		}

		.image-container {
			padding-left: 0px;
			padding-right: 0px;
			text-indent: 0px;
		}
	}

	.author_card {
		@include span-columns(3);
		
		background-color: $fg;
		padding: 20px;

		

		h3 {
			font-size: 25px;
			margin-bottom: 0px;
		}

		p {
			padding-left: 10px;
			text-indent: 10px;
			line-height: 120%;
		}

		.image-wrapper {
			@include author-pic(200px);
			@include row();

			@include media($mobile) {
			
			@include author-pic(70px);
			}	
			
		}

		@include media($mobile) {
			@include span-columns(5);
			display: none;
		}
	}

	.archive {
		@include span-columns(7);
		@include shift(1);
		@include archive-box(3);
		h3 {
			margin-top: 5px;
		}

		@include media($mobile) {
			
			@include span-columns(5);
		}	
	}

	.comments {
		@include span-columns(7);
		@include shift(1);
		height: 300px;
		margin-top: 10px;
	}
}