//monochrome
$gold: #C29D52;
$goldL1: #D8A947;
$goldL2: #F7BB41;
$goldD1: #9D824B;
$goldD2: #756546;

$fg: #F5F2ED;
$bg: #EFE4D0;

//analagous
$blue: #5DCFC2;
$green: #A3D967;
$red: #D96864;
$purple: A189CF;