@font-face {
  font-family: gotham;
  src: url('/public/fonts/gotham.ttf') format('truetype');
}

@font-face {
  font-family: perpetua;
  src: url('/public/fonts/perpetua.ttf') format('truetype');
}

$default: perpetua;

//nav
$nav-buttons: gotham;

//main
$main-title: gotham;