.homePage {
	@include outer-container;

	img {
		min-width: 100%;
		max-width: 100%;
	}

    .content {
    	@include span-columns(12);
    	margin-top: 15px;
    	margin-bottom: 15px;

    	background-color: pink;
    }

	.top-wrapper {
    	padding-bottom: 38%;
    	background-color: green;
    }
    .image-wrapper1 {
    	@include span-columns(8 of 12);
    	padding: 10px;
    }
    .image-wrapper2 {
    	@include span-columns(4 of 12);
    	@include omega;
    	padding: 10px;
    }
    .second {
        margin-top: .3%;

    }

    
    
	.bot-wrapper {
		margin-top: 10px;
		border-spacing: 10px;
		@include span-columns(12);

		background-color: orange;


	    @include display-context(table) {
			.recent {
				@include span-columns(4 of 12);
				padding-right: 10px;

				background-color: blue;
					ul {
						padding-top: 10px;

						li {
							color: white;
						}
					}
	    	}

		    .archive {
				@include span-columns(8 of 12);

				background-color: purple;

				.image-wrapper3 {
		    		@include span-columns(6 of 12);
		    		padding: 7px;
		    	}
		    }
		}
	}
}