//default page settings
@mixin page {
  margin-top: 10px;
  @include outer-container();
}


//for use on homepage features
@mixin feature-content ($total_span, $font_size) {
	@include span-columns($total_span);
	position: relative;
	.text-wrapper {
		@include span-columns(12);
		padding: 10px;
		position: absolute;
		left: 0px;
		bottom: 5%;

		h2 {
			background-color:rgba(79,79,79,0.5);
			font-size: $font_size;
			font-family: $main-title;
			color: white;
			vertical-align: bottom;
			display: table-cell;
			span {
				font-size: 3/5 * $font_size;
				color: $goldL2;
			}
		}
	}
	.image-wrapper {
		padding: 10px;
	}
}

//for homepage headers
@mixin main-header ($bg) {
	@include span-columns(12);
	background-color: $bg;
	padding-left: 10px;
	
	h3 {
		font-family: $main-title;
		color: white;
		font-size: 35px;
		margin: 3px;
	}
}

//for styling archive boxes
@mixin archive-box ($articles) {
	background-color: $fg;

	.content-wrapper{
		@include span-columns(12/$articles);
	}
	.title-wrapper {
		@include main-header($goldD1);
	}
	.image-wrapper {
		padding: 7px;
	}
	.text-wrapper {
		padding: 7px;
		h3 {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		h5 {
			margin-top: 0px;
			span {
				color: $gold;
			}
		}
	}	    	
}