//default page settings
@mixin page {
  margin-top: 15px;
  margin-bottom: 40px;
  @include outer-container();
}

@mixin drop-shadow() {
  -webkit-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.6);
}

//for use on homepage features
@mixin feature-content($total_span, $font_size) {
  @include span-columns($total_span);
  position: relative;
  .text-wrapper {
    @include span-columns(12);
    padding: 10px;
    position: absolute;
    left: 0px;
    bottom: 5%;

    @include media($mobile) {
      width: 100%;
    }

    h2 {
      background-color: rgba(79, 79, 79, 0.5);
      font-size: $font_size;
      font-family: $main-title;
      color: white;
      vertical-align: bottom;
      display: table-cell;
      span {
        font-size: 3/5 * $font_size;
        color: $goldL2;
      }
    }
  }
  .image-wrapper {
    padding: 10px;
  }
}

//for homepage headers
@mixin main-header($bg) {
  @include span-columns(12);
  background-color: $bg;
  padding-left: 10px;

  h3 {
    font-family: $main-title;
    color: white;
    font-size: 35px;
    margin: 3px;
  }
}

//for styling archive boxes
@mixin archive-box($articles) {
  background-color: $fg;

  .content-wrapper {
    @include span-columns(12/$articles);
  }
  .title-wrapper {
    @include main-header($goldD1);
  }
  .image-wrapper {
    padding: 7px;
  }
  .text-wrapper {
    padding: 7px;
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h5 {
      margin-top: 0px;
      span {
        color: $gold;
      }
    }
  }
}

//for profile image on author cards
@mixin author-pic($height) {
  border-radius: 50%;
  height: $height;
  width: $height;
  overflow: hidden;
  img {
    min-width: initial;
    max-width: initial;
    height: $height;
  }
}

//for writer bios at top of page
@mixin writer-bio() {
  @include span-columns(10);
  @include shift(1);
  @include drop-shadow;
  min-height: 350px;
  padding: 20px;
  background-color: $fg;

  @include media($mobile) {
    @include span-columns(6);
    @include shift(0);
    padding-right: 0px;

    .image-wrapper {
      @include author-pic(200px);
    }
  }

  p {
    padding-right: 50px;
    padding-left: 5px;
    text-indent: 10px;
    @include media($mobile) {
      padding-right: 10px;
    }
  }

  .name-container {
    margin-top: 10px;
    padding-left: 5px;

    h4, h5, .accent {
      margin: 0px;
      padding: 0px;
    }

    h4 {
      font-size: 45px;
    }

    .accent {
      background-color: black;
      height: 3px;
      width: 200px;
    }
  }

  .image-wrapper {
    @include span-columns(4 of 10);
    @include author-pic(250px);
    margin-top: 20px;
    margin-left: 20px;
  }

  .text-wrapper {
    @include span-columns(6 of 10);
    //background-color: green;
    padding-right: 20px;
    @include media($mobile) {
      @include span-columns(6);
    }

  }
}

//placeholder image for fluid layouts dependent on image size
@mixin load-placeholder($width, $height) {
  position: relative;
  padding-bottom: percentage($height/$width);
  img {
    position: absolute;
  }
}

