.writersPage {
	.featured-writer {
		@include span-columns(10);
		@include shift(1);
		height: 300px;
		background-color: red;
	}

	.writers-container {
		@include span-columns(10);
		@include shift(1);
		margin-top: 20px;
		background-color: pink;
	}
	.author_card {
		@include span-columns(2);
		height: 100px;
		background-color: red;
	}
}