.writerPage {
	@include page;
	.writer-bio {
		@include writer-bio;
	}

	.articles-container {
		@include span-columns(10);
		@include shift(1);
		margin-top: 20px;
		margin-bottom: 20px;
		//background-color: pink;
	}
	.article {
		@include span-columns(4);
		@include omega;
		//height: 100px;
		background-color: $fg;
		margin-left: 10px;
		margin-top: 10px;
		h4 {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		span {
			color: $gold;
		}

		.text-wrapper {
			height: 50px;
		}
	}
}