.writersPage {
	@include page;
	.featured-writer {
		@include span-columns(10);
		@include shift(1);
		height: 400px;
		background-color: red;
	}

	.writers-container {
		@include span-columns(10);
		@include shift(1);
		margin-top: 20px;
		background-color: pink;
	}
	.author_card {
		@include span-columns(4);
		@include omega;
		height: 100px;
		background-color: red;
		margin-left: 10px;
		margin-top: 10px;
	}
}