.writersPage {
	@include page;


	.featured-writer {
		@include writer-bio;

		h2 {
			font-size: 50px;
			font-family: $main-title;
			margin-top: 10px;
			margin-bottom: 0px;
		}
	}

	.writers-container {
		@include span-columns(10);
		@include shift(1);
		margin-top: 20px;
	}
	.author_card {
		@include span-columns(4);
		@include omega;
		height: 100px;
		background-color: $fg;
		margin-left: 10px;
		margin-top: 10px;
		padding: 10px;

		.image-wrapper {
			@include author-pic(80px);
			display: inline-block;
		}
		.text-wrapper {
			display: inline-block;
			vertical-align: top;
			margin-top: 0px;
			padding-top: 0px;
			margin-left: 10px;
		}

		h4 {
			display: inline-block;
			margin-top: 0px;
		}
	}
}