@import "bourbon";
$visual-grid: true;
@import "neat";

@import "font-scheme";
@import "color-scheme";
@import "mixins";

@import "nav";
@import "footer";
@import "home";
@import "article";
@import "articles";
@import "writer";
@import "writers";
@import "about";


body {
  font-family: $default;
  padding: 0;
  margin: 0;
  background-color: $bg;
}

