@import "bourbon";

$visual-grid: false;
@import "neat";

@import "font-scheme";
@import "color-scheme";
@import "mixins";
@import "breakpoints";

@import "nav";
@import "footer";
@import "home";
@import "article";
@import "articles";
@import "writer";
@import "writers";
@import "about";
@import "console";
@import "react-select";
@import "simplemde";

.Select {
  z-index: 10;
  width: 75%;
}

body {
  font-family: $default;
  padding: 0;
  margin: 0;
  background-color: $bg;

  @include media($mobile) {
  }
}

img {
  min-width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.special-link {
  text-decoration: underline;
}

.special-link:hover {
  color: gray;
}

